*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.head{
    
    padding-bottom: 20px;
}
.container{
    width:65%;
    margin: auto;
    padding-top: 20px;
    
}
.head .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .container img{
    width: 60px; 
}


.head .container ul {
    display: flex;
    list-style: none;
}
.head .container ul li{
    padding-left: 2%;
    padding-right: 2%;  
      
}
.head .container ul li a{
    font-size: 25px;
    color: black;
    padding: 5%;
    text-decoration: none;
}
@media (max-width: 550px) {
    .container{
        width:75%;
        margin: 0px;
        padding-top: 20px;
        padding-left: 7%;
    }
    .head .container ul li a{
        font-size: 15px;
    }
}
.head .container ul li:hover{
    transform: scale(1.5px);
}
.head .container ul li:hover a{
    
    
    border-radius: 50px;
    background-color: #00000040;
    transition: 1.5s;
    
    color: white;
    
}
 .home{
    text-align: center;
    padding-top: 20px;
    background: #0202020d;
    background-image: url(../images/creative.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    

}
.home h1{
    margin: 0;
    font-size: 5em;
    color: turquoise;
}
.home p{
    padding-top: 5%;
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 10%;
    color: white;
    font-family: 'Lobster', cursive;
}

.work{
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 15px;
}
@media (max-width:550px) {
    .work{
        grid-template-columns: repeat(1,auto);
    }
}

.work .info-work{

    text-align: center;
    border-radius: 40px;
}

.work .info-work i{

    color: turquoise;
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.work .info-work h3{
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: 25px;
}
.work .info-work p{
    padding-bottom: 20px;
    color: black;
    opacity: 0.5;
}

.work .info-work:hover i{
    
    transition: 0.6s ease-in-out;
    transform: rotate(360deg);
     
}




.services{
    width: 65%;
    margin: 0 auto;
    padding-top: 5%;
    display: grid;
    grid-template-rows: repeat(1,auto);
    
}
.services .titel {
    text-align: center;
    padding-bottom: 10%;
}

.services .titel h1{
    font-size: 7em;
    margin: 0ex;
    opacity: 0.1;
}
.services .titel p{
    margin-top: -40px;
    font-size: 15px;
}
.services .content .content2 img{
    width: 200px;
    height: 150px;
}

@media (max-width:550px) {
    .services .titel p{
        margin-top: -20px;
    }

    .services .titel h1{
        font-size: 4em;
        margin: 0ex;
        opacity: 0.1;
    }
}

.services .content{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-column-gap: 25px;
}

.services .content .content1{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-gap: 25px;


}

.services .content .div-content{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: flex-start;
    grid-column-gap: 25px;
}

@media (max-width:550px) {
 
    .services .content .content2 {
        display: none;

    }
    .services .content .content1{
        display: grid;
        grid-template-columns: repeat(1,auto);
    }
    .services .content .div-content{
        display: grid;
        grid-template-columns: repeat(1,auto);
        margin: 2%;
    
    }
}

.div-content i{
    font-size: 40px;
    color: turquoise;
}


@media (max-width:550px) {
    .services .content .div-content:not(:last-child) p{
            padding-bottom: 10px;
    }
    .services .content .div-content:not(:last-child) {
        border-bottom: solid 1px turquoise;
    }
}


@media (max-width:768px)
 {
    .services{
        width: 100%;
       
    } 
    .services .content {
        
        grid-column-gap: 0px;
        margin: 50px;

    }
    .services .content .content1{
        grid-template-columns: repeat(1,auto);
    }
}

@media (max-width:1024px)
 {
    .content2{
        display: none;
    }    
    .services .content .content1{
        grid-template-columns: repeat(1,auto);
    }

}

.div-content .d h3{
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    
}

.div-content .d p{
    color: #677574;
    font-weight: 800;
}



.protfolio{
    background-color: #02020208;
    margin-top: 30px;
}

.protfolio .pro-div{
    width: 65%;
    margin: auto;
}

.protfolio .pro-div .pro-title{
    
    padding-top: 30px;
    padding-bottom: 20px;
}

.protfolio .pro-div .pro-img {
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 20px;
}
.protfolio .pro-div .pro-img .pro-pic{
    background-color: white;
    margin-bottom: 40px;
    

}
.protfolio .pro-div .pro-img .pro-pic:hover{
    box-shadow: 10px 9px 100px  silver;
    margin-bottom: 40px;
    height: fit-content;
}
.protfolio .pro-div .pro-img .pro-pic img{
    width: 100%;
    height: 200px;

}

.protfolio .pro-div .pro-title h1{
    font-size: 7em;
    margin: 0ex;
    opacity: 0.1;
}
.protfolio .pro-div .pro-title p{
    margin-top: -10px;
    font-size: 15px;
}

.protfolio .pro-div .pro-img .pro-pic h1{

    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.protfolio .pro-div .pro-img .pro-pic p{
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.protfolio .pro-div .bt{
    text-align: center;
    padding-bottom: 20px;
}
.protfolio .pro-div .bt button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #c0c0c073;
    font-size: 20px;
    
}
.protfolio .pro-div .bt button:hover{
    transition: 1s ease-in-out;
    background-color: #878787;
    color: white;
    font-size: 30px;

}

@media (max-width:550px) {

    .protfolio .pro-div {
         width: 100%; 
        margin: auto;
    }
    .protfolio .pro-div .pro-title{
    
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
    }
    .protfolio .pro-div .pro-title h1 {
        font-size: 4em;
        margin: 0ex;
        opacity: 0.1;
    }

    .protfolio .pro-div .pro-img {
        display: grid;
        grid-template-columns: repeat(1,auto);
        column-gap: 20px;
    }

    
}

.div-about{
    width: 65%;
    margin: auto;
}

.div-about .about-title h1{
    font-size: 7em;
    margin: 0ex;
    opacity: 0.1;
}
.div-about .about-title p{
    font-size: 20px;
}
.div-about .about-content {
    display: grid;
    grid-template-columns: repeat(2,auto);
    
}
.div-about .about-content img{
    width: 85%;
    height: 85%;
}
.div-about .about-content .about-text p:not(:last-child){
    color: #677574;
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}
.div-about .about-content .about-text hr{
    width: 65%;
    height: 4px;
    color: turquoise;
    background-color: turquoise;
    border:none;
}
.div-about .about-content .about-text p:last-child{
    padding-top: 20px;
    letter-spacing: 1.5px;
    line-height: 30px;
}

@media (max-width:550px){

        .div-about{
            margin: 0%;
            width: 100%;
        }
        .div-about .about-title{
            text-align: center;
        }
    .div-about .about-title h1 {
        font-size: 4em;
        margin: 0ex;
        opacity: 0.1;
    }

    .div-about .about-content {
        display: grid;
        grid-template-columns: repeat(1,auto);
        
    }
    .div-about .about-content img{
        display: none;
    }

    .div-about .about-content .about-text {
        margin: 10px;
    }
    .div-about .about-content .about-text hr{
        width: 100%;
    }
    .div-about .about-title p {
        font-size: 14px;
    }

}
@media (max-width:950px) {
    .div-about .about-content img{
        width: 85%;
        height: 60%;
    }
    
}

.div-contact{
    background-color: #f7f7f7;
}
.div-contact .contact{
    width: 65%;
    margin: auto;
}
.div-contact .contact .contact-title h1{
    font-size: 7em;
    margin: 0ex;
    opacity: 0.1;
    text-align: center;   
}

.contact .contact-content h2{
    font-size: 2.4em;
    color: #2f6a75;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    padding-top: 50px;
    font-weight: 900;
}
.contact .contact-content h3{
    padding-top: 30px;
}
.contact .contact-content h3 a{
    font-size: 1.9em;
    padding-left: 80px;
    text-decoration: none;
    color: turquoise;
    font-family: 'Lobster', cursive;
}

.contact .contact-content div{
    display:inline-flex;
    padding-top: 30px;
    padding-left: 140px;
    padding-bottom: 30px;
    align-items: center;
}
.contact .contact-content div p{
    font-size: 18px;
    font-weight: 800;
    padding-right:30px;
}

.contact .contact-content .contact-social a{
    font-size: 1.9em;
    padding-right: 20px;
    text-decoration: none;
    color: #2f6a75;
    
}

.footer{
    background-color: #2f6a75;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 30px;
}

.footer p span{
    color: turquoise;
}

@media (max-width:550px) {


    .div-contact .contact{
        width: 100%;
    }

    .div-contact .contact .contact-title h1 {
        font-size: 4em;
        margin: 0ex;
        opacity: 0.1;
        text-align: center;
    }

    .contact .contact-content h3 a {
         font-size: 1em; 
         padding-left: 0px; 
        text-decoration: none;
        color: turquoise;
        font-family: 'Lobster', cursive;
        letter-spacing: 3px;
    }

    .contact .contact-content div {
        padding-left: 0px;
    }

    .contact-content{
        margin-left: 10px;
        margin-right: 10px;
    }
}